
body{
    min-width: 320px;
}


/* HEADER */

header{
    height: 660px;
    background: url("../images/fon.png") no-repeat;
     
   
    
}
nav {
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid rgba(197, 195, 197, 0.3);
    background: rgba(2, 15, 45, 0.2);
}

.menu {
    list-style-type: none;
}
.menu li{
    display: inline-block;
    padding: 0 20px;
}
.menu li a {
    color: #fff;
    padding-bottom: 10px;
}
.menu li a:hover,
.menu li a:focus {
    text-decoration: none;
    color: #706f70;
    border-bottom: 1px solid #706f70;
}

.navbar-header .logo{
    padding-top: 25px;
}
.logo {
    border-right: 1px solid rgba(197, 195, 197, 0.3);
}

.text{
    text-transform: uppercase;
    
    
}
.text h1{
    font-size: 54.5px;
    color: #fff;
    font-family: "Museo Sans Cyrl 700";
    padding-top: 118px;
    line-height: 0.6;
    clip-path: polygon(0 100%, 0 0, 100% 65%, 95% 100%);
}

.text p {
    font-size: 25px;
    font-family: "Museo Sans Cyrl 300";
    color: #fff;
}
.gradient-text {
    background: linear-gradient(45deg, #ffffff 22%, #ff4c15 66%, #ff4c15);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    
}

.text .button{
    margin-top: 88px;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #263e66;
    text-align: center;
    width: 180px;
    height: 35px;
    color: #9d9d9f;
    font-size: 14px;
    font-family: "Museo Sans Cyrl 100";
    /*linear-gradient(45deg, #23599c #09213d 36%, #111f2d 63%, #263e66);*/
}

.text .figura {
}
