
body{
    min-width: 320px; 
}


/* HEADER */

header{
    height: 660px;
    background: url(../images/fon.png) no-repeat;
    z-index: -909999;
}
nav {
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid rgba(197, 195, 197, 0.3);
    background: rgba(2, 15, 45, 0.2);
}

.menu {
    list-style-type: none;
}
.menu li{
    display: inline-block;
    padding: 0 20px;
}
.menu li a {
    color: #fff;
    padding-bottom: 10px;
}
.menu li a:hover,
.menu li a:focus {
    text-decoration: none;
    color: #706f70;
    border-bottom: 1px solid #706f70;
}

.navbar-header .logo{
    padding-top: 25px;
}
.logo {
    border-right: 1px solid rgba(197, 195, 197, 0.3);
}

.text{
    text-transform: uppercase;
    
}
.text h1{
    font-size: 54.5px;
    color: #fff;
    font-family: "Museo Sans Cyrl 700";
    padding-top: 118px;
    line-height: 0.6;
    clip-path: polygon(0 100%, 0 0, 100% 65%, 95% 100%);
}

.text p {
    font-size: 25px;
    font-family: "Museo Sans Cyrl 300";
    color: #fff;
}
.gradient-text {
    background: linear-gradient(45deg, #ffffff 22%, #ff4c15 66%, #ff4c15);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    
}
